/*ACTIVIDAD*/
.actividad__img-contenedor {
    display: flex;
    margin: 2rem;
 
 }
 
 .actividad__img-contenedor p{
    padding-left: 6rem;
    padding-top: 6rem;
 }
 
 .actividad__img {
    width: 35%;
    height: auto;
 }
 