@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  position: relative;
  min-height: 100vh;
  font-weight: 700;
}

header {
  align-items: center;
  padding: 0px;
  margin-bottom: 2rem;
}

/* NAVEGACIÓN */
.navbar {
  background-color: #6768FF;
}

.navbar__titulo {
  font-size: 25px;
}

.decorationcolor, .navbar li a, .navbar__titulo a:hover, .navbar__titulo a {
  text-decoration: none;
  color: #fff;
}

.navbar li {
  font-weight: 800px;
  display: inline-block;
  transition: all 0.2s ease;
}

.navbar li:hover {
  transform: translate(0px, -5px);
}

.navbar li a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* PRINCIPAL */
.img__principal {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 4rem 2.5rem 4rem;
}

.principal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2.5rem 0 2.5rem;
}

.principal a {
  text-decoration: none;
}

.principal img {
  width: 100%;
  height: 180px;
}

.principal p {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  background-color: #6768FF;
}

.principal div {
  transition: all 0.2s ease;
}

.principal div:hover {
  transform: translate(0px, -5px);
}

.infantiles, .juveniles, .torneos, .examenes {
  background-color: #6768FF;
  margin: 2rem 1rem;
  cursor: pointer;
}

.div__img {
  padding: 0;
  margin: 0;
}

/* Galeria con Bootstrap */
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

/*ACTIVIDAD*/
.actividad__img-contenedor {
  display: flex;
  margin: 2rem;
}

.actividad__img-contenedor p {
  padding-left: 6rem;
  padding-top: 6rem;
}

.actividad__img {
  width: 35%;
  height: auto;
}

/* CONTACTO */
.ingresar {
  margin: 2rem 0;
}

.form {
  margin: auto;
  padding: 2rem 3rem;
  border: 1px solid #6768FF;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.form__titulo {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #6768FF;
}

.form__p {
  font-weight: 300;
}

.form__container {
  margin-top: 3rem;
  display: grid;
}

.form__grupo {
  position: relative;
  color: #6768FF;
  margin-bottom: 1rem;
}

.form__input {
  width: 100%;
  background: none;
  color: #6768FF;
  font-size: 1rem;
  padding: 0.6rem 0.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #6768FF;
}

.form__reset-password {
  padding-bottom: 0;
}

.form__submit {
  margin: 0 0 1rem 0;
  border: none;
  outline: none;
  height: 40px;
  background-color: #6768FF;
  color: #fff;
  transition: all 0.2s ease;
}

/*FOOTER*/
.footer {
  background-color: #6768FF;
  color: #fff;
}

.footer .col {
  list-style: none;
}

.footer .col h3, .footer .col h4 {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 600;
  position: relative;
}

.footer__acercaDe {
  padding: 2rem 4rem 2rem 4rem;
}

.footer__paginas {
  padding-top: 2rem;
  padding-left: 4rem;
}

.footer__paginas ul {
  padding: 0;
}

.footer__paginas ul li {
  list-style: none;
  padding-top: 1.5rem;
}

.footer__paginas ul li a {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}

.footer__paginas ul li a:hover {
  padding-left: 8px;
  color: #c0bbbb;
}

.footer__redes {
  text-align: center;
  padding-top: 2rem;
}

.footer__redes a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem 5px 2rem 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer__redes a:hover {
  background-color: #ffffff;
  color: #24262b;
}

.footer__redes-contacto {
  text-align: center;
}

.footer__redes-contacto h4 {
  padding-bottom: 1rem;
}

.footer__redes-contacto p {
  padding-bottom: 0.5rem;
}

.footer__copyright {
  text-align: center;
  font-size: 14px;
  padding-top: 1rem;
  border-top: 1px solid #cccdcf;
}

.footer__redes a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer__redes a {
  margin-left: 0.2rem;
}

.footer__redes a:hover {
  background-color: #ffffff;
}

.footer__redes a:hover .fa-facebook {
  color: #6768FF;
}

.footer__redes a:hover .fa-instagram {
  color: rgb(168, 40, 40);
}

.footer__redes a:hover .fa-whatsapp {
  color: rgb(33, 156, 54);
}

/* TABLET */
@media screen and (max-width: 800px) {
  .principal {
    display: block;
  }
  .img__principal {
    padding: 0 4rem;
    height: 250px;
  }
  .actividad__img-contenedor {
    display: block;
    background-color: #6768FF;
  }
  .actividad__img-contenedor p {
    padding: 0;
    text-align: center;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .actividad__img {
    width: 100%;
  }
}
/* MOBILE */
@media screen and (max-width: 560px) {
  .principal {
    display: block;
    padding: 0rem 0.5rem 1rem 0.5rem;
  }
  .img__principal {
    padding: 1rem;
    height: 250px;
  }
  .infatiles, .juveniles, .torneos, .examenes {
    padding: 1rem 0;
  }
  .footer {
    bottom: 0;
  }
  .footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}/*# sourceMappingURL=style.css.map */