
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@300&display=swap');



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   font-family: 'Raleway', sans-serif;
   position: relative;
   min-height: 100vh;
   font-weight: 700;
}

header {
   align-items: center;
   padding: 0px;
   margin-bottom: 2rem;
}

/* NAVEGACIÓN */
.navbar {
      background-color: #6768FF;
}

.navbar__titulo {
   font-size: 25px;
}

.navbar__titulo a {
   text-decoration: none;
   color: #fff;
}

.navbar__titulo a:hover {
   text-decoration: none;
   color: #fff;
}

.navbar li {
   font-weight: 800px;
   display: inline-block;
   transition: all .2s ease ;
}

.navbar li:hover {
   transform: translate(0px, -5px);
}

.navbar li a {
   text-decoration: none;
   color: #fff;
   padding-right: .5rem;
   padding-left: .5rem;
}

/* PRINCIPAL */
.img__principal {
   width: 100%;
   height: 550px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   padding: 0 4rem 2.5rem 4rem;
   
}

.principal {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 0 2.5rem 0 2.5rem;
}

.principal a {
   text-decoration: none ;
}

.principal img {
   width: 100%;
   height: 180px;
}

.principal p {
   text-align: center;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: #fff;
}

.principal div {
   transition: all .2s ease;
}

.principal div:hover {
   transform: translate(0px, -5px);
} 

.infantiles, .juveniles, .torneos, .examenes{
   background-color: #6768FF;
   margin: 2rem 1rem;
   cursor: pointer;
}

.div__img {
   padding: 0;
   margin: 0;
}

.main__galeria {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-left: 6rem;
   padding: 2rem 0;
}


.main__galeria-main_img {
   width: 300px;
   height: 300px;
   padding-bottom: 2rem;
}


/*ACTIVIDAD*/
.actividad__img-contenedor {
   display: flex;
   margin: 2rem;

}

.actividad__img-contenedor p{
   padding-left: 6rem;
   padding-top: 6rem;
}

.actividad__img {
   width: 35%;
   height: auto;
}

/* CONTACTO */
.formulario__contacto {
   margin: 2rem 25rem 5rem 25rem;
   padding: 2rem 2rem;
   border: 1px solid #6768FF;
   box-shadow: 1px 1px 2px #6768FF;
   color: #6768FF;
}

.formulario__contacto-titulo {
   text-align: center;
   padding-bottom: 1.5rem;
}

/*FOOTER*/
.footer{
   width: 100%;
   background-color: #6768FF;
}

.row-1 {
   padding: 1rem;
}

.footer__navbar-li {
   list-style: none;
   display: inline-block;
   padding: 0 1rem;
}

.footer__navbar a {
   text-decoration: none;
   color: #fff;
}

.footer__navbar-li:hover {
   color: #6768FF; 
}

.footer__redes {
   text-align: end;
}

.footer__redes a {
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255, 255, 255, 0.2);
   text-align: center;
   line-height: 40px;
   color: #ffffff;
   transition: all .5s ease;
}

.footer__redes a {
   margin-left: .2rem ;
}

.footer__redes a:hover {
   background-color: #ffffff; 
}

.footer__redes a:hover .fa-facebook {
   color: #6768FF;
}

.footer__redes a:hover .fa-instagram {
   color: rgb(168, 40, 40);
}

.footer__redes a:hover .fa-whatsapp {
   color: rgb(33, 156, 54);
}

.footer__copyright {
   text-align: center;
   color: #ffffff;
}

/* TABLET */
@media screen and (max-width:800px){
   .principal {
      display: block;
   }

   .img__principal {
      padding: 0 4rem;
      height: 250px;
   }

   .footer .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
   }

   .actividad__img-contenedor {
      display: block;
      background-color: #6768FF;
   }


   .actividad__img-contenedor p {
      padding: 0;
      text-align: center;
      color: #fff;
      padding-top: .5rem;
      padding-bottom: 1rem;
   }

   .actividad__img {
      width: 100%;
   }
}

/* MOBILE */
@media screen and (max-width:560px){
   .principal {
      display: block;
      padding: 0rem .5rem 1rem .5rem ;
   }

   .img__principal {
      padding: 1rem;
      height: 250px;
   }

   .infatiles, .juveniles, .torneos, .examenes{
      padding: 1rem 0;
   }

   .footer .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
   }
}