
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@300&display=swap');



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   font-family: 'Raleway', sans-serif;
   position: relative;
   min-height: 100vh;
   font-weight: 700;

}

header {
   align-items: center;
   padding: 0px;
   background-color: #6768FF;
   margin-bottom: 2rem;
}

.navbar__logo-li{
   padding-left: 1rem;
   
}

.navbar li {
   font-weight: 600px;
   padding-top: 1rem;
   padding-right: 2rem;
   padding-bottom: 1rem;
   display: inline-block;
   transition: all .2s ease ;
}

.navbar li:hover {
   transform: translate(0px, -5px) skew(0deg, 1deg);
}

.navbar li a {
   text-decoration: none;
   color: #fff;
}

.img__principal {
   width: 100%;
   height: 550px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   padding: 0 4rem 2.5rem 4rem;
   
}

.principal {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 0 2.5rem 0 2.5rem;
}

.principal img {
   width: 100%;
   height: 180px;
}

.principal p {
   text-align: center;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: #fff;
}

.infantiles, .juveniles, .torneos, .examenes{
   background-color: #6768FF;
   margin: 2rem 1rem;
}

.div__img {
   padding: 0;
   margin: 0;
}

.main__galeria {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-left: 6rem;
   padding: 2rem 0;
}


.main__galeria-main_img {
   width: 300px;
   height: 300px;
   padding-bottom: 2rem;
}


/*:::::actividad*/
.actividad__img-contenedor {
   display: flex;
   margin: 2rem;

}

.actividad__img-contenedor p{
   padding-left: 6rem;
   padding-top: 6rem;
}

.actividad__img {
   width: 35%;
   height: auto;

}

/*:::::footer*/
.footer{
   width: 100%;
   background-color: #6768FF;
}
.footer .grupo-1{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap:50px;
   padding: 45px 0px;
}

.footer__navbar li {
      list-style: none;
      margin-left: 2rem;
      text-decoration: none;
      padding-bottom: 1rem;
      transition: all .2s ease;
      
}

.footer__navbar li:hover {
   transform: translate(3px, 0px);
} 


.footer__navbar a {
   text-decoration: none;
   color: white;
}

.footer .grupo-1 .red-social a{
   display: inline-block;
   text-decoration: none;
   width: 45px;
   height: 45px;
   line-height: 45px;
   color: #fff;
   margin-right: 10px;
   background-color: #6768FF;
   text-align: center;
   transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover{
   color: aqua;
}

.footer .grupo-2{
   background-color: #6768FF;
   padding: 15px 10px;
   text-align: center;
   color: #fff;
}

.footer .grupo-2 small{
   font-size: 15px;
}



/* TABLET */
@media screen and (max-width:800px){

   .principal {
      display: block;
   }

   .img__principal {
      padding: 0 4rem;
      height: 250px;
   }

   .footer .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
   }

   .actividad__img-contenedor {
      display: block;
      background-color: #6768FF;
   }


   .actividad__img-contenedor p {
      padding: 0;
      text-align: center;
      color: #fff;
      padding-top: .5rem;
      padding-bottom: 1rem;
   }
   .actividad__img {
      width: 100%;
   }


}

/* MOBILE */
@media screen and (max-width:560px){
   .principal {
      display: block;
      padding: 0rem .5rem 1rem .5rem ;
   }

   .img__principal {
      padding: 1rem;
      height: 250px;
   }

   .infatiles, .juveniles, .torneos, .examenes{
      padding: 1rem 0;
   }

   .footer .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
   }
}